<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Wild Faith</h2>
    <h3>Okaganan Music Band</h3>
    <a href="/smoothies" class="btn">View Songs</a>
  </div>
</header>


<%- include('partials/footer'); -%>