<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Cosmic Rainbow</h4>
    <p>Spiritual Uplifting</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Inner Child of Mine</h4>
    <p>Reflections Roots</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Music Man</h4>
    <p>Brazilian Blues</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Goddess Rising</h4>
    <p>Spiritual Uplifting</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Quiero Volver a Verte</h4>
    <p>Latin Gypsy</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Perfect Alignment</h4>
    <p>Spiritual Uplifting</p>
  </li>
</ul>

<%- include('partials/footer'); -%>